*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/release/app-release.apk
app/release/output.json
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+EwX1aazDLWoAXJ71aUz5ye4Hk4=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0LW57qUTpohcbiuSckxkBGZQFE8=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/30YqZtNxKJliMVTxwL+MJZCZbws=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4QFdd3x5Ywbjfxyv2_thnZ6QH_g=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/81qt8PMMasxXbZ3k17EQERmLhIY=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8YLI4B2NKjxpybNt8ot6XE4goKY=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Apd4LndJEifUP4zO+x2cEm9dnyg=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/axSBg1g4Lsn2dIScDVOH8I5Xjec=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BYMtKGd4sQbTu899eiNHkw2hvnI=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DwV69R6F_8V_ADRr+qkKZ6t8LGA=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Ey8Mo4mc29NjnlF68g5MRNmCITk=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fFpChIrkQNrkcfutJzfyM3pUNhc=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IJCwyG81RQVnG9LDpZwu_WEWK+Y=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Ionavi6GD3+FtStynAaoc4DSxJU=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ITykAsaOvYDvumdr5ys6V9obo6E=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IzlzgOj6CPnsG0rcZkoNjFf2yvQ=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JCp0QuCsgCBXAyeMb9R7XyEKTtQ=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JFhqI49T+h9B43riNxPCAZvD_TQ=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/jrJwbsU7Ipj8oxsma3q1yXFWHag=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Lmd8MfPtfdAXYutCKDnU0IdbntM=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LQME1pEe_x_S3boRC9Afw4xZkWI=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PpRwXj22dUntgvzckBOklJXxQbg=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RRFo_YVmGtQABSjqTHl7EduJewE=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/s_j5WUwDyZ2aggL+I_aTqdm3qV4=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/T1kj9tljlGoL4PrGZm5MZRperqk=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tAsqP2AVRU5cJTDJKaAByNeKtaE=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UUwRmXfPfGuZ5r9XhdoSlEHMiQc=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/YfhjOLL7tGQn8BHhGEUIQeBHjIU=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yWd_0xsjYW+u7Wln35yE9xaKAeg=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/+EwX1aazDLWoAXJ71aUz5ye4Hk4=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/0LW57qUTpohcbiuSckxkBGZQFE8=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/30YqZtNxKJliMVTxwL+MJZCZbws=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/4QFdd3x5Ywbjfxyv2_thnZ6QH_g=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/81qt8PMMasxXbZ3k17EQERmLhIY=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/8YLI4B2NKjxpybNt8ot6XE4goKY=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/Apd4LndJEifUP4zO+x2cEm9dnyg=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/axSBg1g4Lsn2dIScDVOH8I5Xjec=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/BYMtKGd4sQbTu899eiNHkw2hvnI=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/DwV69R6F_8V_ADRr+qkKZ6t8LGA=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/Ey8Mo4mc29NjnlF68g5MRNmCITk=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/fFpChIrkQNrkcfutJzfyM3pUNhc=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/IJCwyG81RQVnG9LDpZwu_WEWK+Y=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/Ionavi6GD3+FtStynAaoc4DSxJU=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/ITykAsaOvYDvumdr5ys6V9obo6E=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/IzlzgOj6CPnsG0rcZkoNjFf2yvQ=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/JCp0QuCsgCBXAyeMb9R7XyEKTtQ=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/JFhqI49T+h9B43riNxPCAZvD_TQ=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/jrJwbsU7Ipj8oxsma3q1yXFWHag=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/Lmd8MfPtfdAXYutCKDnU0IdbntM=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/LQME1pEe_x_S3boRC9Afw4xZkWI=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/PpRwXj22dUntgvzckBOklJXxQbg=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/RRFo_YVmGtQABSjqTHl7EduJewE=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/s_j5WUwDyZ2aggL+I_aTqdm3qV4=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/T1kj9tljlGoL4PrGZm5MZRperqk=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/tAsqP2AVRU5cJTDJKaAByNeKtaE=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/UUwRmXfPfGuZ5r9XhdoSlEHMiQc=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/YfhjOLL7tGQn8BHhGEUIQeBHjIU=
arstartupcrawl2/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/yWd_0xsjYW+u7Wln35yE9xaKAeg=
arstartupcrawl2/build/intermediates/incremental/packageDebug/debug/zip-cache/qtFc3BEF7H_zEO6fqtJ633eHQTE=
arstartupcrawl2/build/intermediates/incremental/packageDebug/debug/zip-cache/wkTikZG53C6VNIvTPidl+1MLNXY=
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/19.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/31.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/32.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/33.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/34.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/35.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/47.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/49.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/50.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/51.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/57.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/58.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/59.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/60.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/61.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/62.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/63.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/64.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/65.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/66.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/68.jar
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/arch/lifecycle/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/compat/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/constraint/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/constraint/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/constraint/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/constraint/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreui/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/coreutils/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/fragment/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/mediacompat/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/percent/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v4/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/v7/recyclerview/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$array.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$fraction.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wear/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$anim.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$animator.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$array.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$fraction.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$interpolator.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$plurals.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/android/support/wearable/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/BuildConfig.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/MainActivity.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/MyStartupRecyclerViewAdapter$ViewHolder.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/MyStartupRecyclerViewAdapter.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/PushNotification$1.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/PushNotification$2.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/PushNotification.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$anim.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$animator.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$array.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$bool.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$dimen.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$fraction.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$interpolator.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$layout.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$mipmap.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$plurals.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$style.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/Startup.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/StartupActivity$1.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/StartupActivity.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/example/arstartupcrawl/StartupClient.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$attr.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$color.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$drawable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$id.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$integer.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$string.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R$styleable.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/base/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/base/license/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/common/license/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/tasks/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/tasks/license/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/wearable/R.dex
arstartupcrawl2/build/intermediates/transforms/dexBuilder/debug/69/com/google/android/gms/wearable/license/R.dex
